<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning"
    package="com.calintat.units" >

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="com.android.vending.BILLING" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/app_theme"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:fullBackupContent="@xml/backup_descriptor" >

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/static_shortcuts" />

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.MainActivity" />

    </application>

</manifest>